@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;  
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
    font-weight: 400;
	line-height: 150%;
    overflow-x: hidden;
    background: #F8F9FA;
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin: 0 0 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

img {
    display: block;
    width: auto;
}


/*  */

main div.main,
main div.sidebar {
    padding: 24px 0;
}



/*--  sidebar  --*/

main .row > div.col-lg-3 {
    position: sticky;
    top: 0;
    background: FFF;
    height: 100vh;
    background: #FFF;
    border-radius: 0 16px 16px 0;
} 

main .row > div.col-lg-3 div.container,
main div.sidebar {
    height: 100%;
}

main div.sidebar {
    display: flex;
    flex-direction: column;
}


/*  */
main div.sidebar .logo {
    font-size: 1.25em;
    font-weight: 700;
}


/*  */
main div.sidebar .menu {
    flex: 1;
    margin: 32px 0;
}

main div.sidebar .menu li {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

main div.sidebar .menu li:nth-child(n+2) {
    margin-top: 24px;
}

main div.sidebar .menu li span {
    font-size: 14px;
}


/*  */
main div.sidebar .user {
    display: flex;
    align-items: center;
    gap: 0 12px;
    background: #F5F3F5;
    border-radius: 4px;
    padding: 12px 8px;
}

main div.sidebar .user .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

main div.sidebar .user .info {
    color: #808080;
    font-weight: 600;
}

main div.sidebar .user .info .email {
    font-size: 12px;
}


@media screen and (max-width:991px) {
    main .row > div.col-lg-3 {
        height: fit-content;
    }
}



/*--  register  --*/

main div.register {
    margin: 48px 0;
}


/*  */
main div.register .steps-switcher {
    display: flex;
    align-items: center;
    gap: 0 75px;
    margin-bottom: 48px;
}

main div.register .steps-switcher > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #D9D9D9;
    position: relative;
}

main div.register .steps-switcher > div span {
    display: block;
    font-weight: 600;
    color: #000;
}

main div.register .steps-switcher > div:nth-child(n+2)::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: calc(100% + 2px);
    height: 0;
    width: 71px;
    border-top: 2px dashed #D9D9D9;
}


/*  */
main div.register .steps-switcher > div.active {
    background: #EA526F;
    color: #FFF;
}

main div.register .steps-switcher > div.active span {
    color: #FFF;
}


/*  */
main div.register form > .steps > .step {
    margin: 32px 0;
}

main div.register form > .steps .fields .row > div {
    margin: 12px 0;
}

main div.register form > .steps .fields .row > div.title {
    margin-bottom: 0;
}

main div.register form > .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0 12px;
}
